<head>
    <script type="text/javascript" src="./angular.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('app', []);
    
    app.controller('MainCtrl', function($scope, u) {
        $scope.u = u;
        $scope.message = 'World';
        
        $scope.greet = function() {
           $scope.greet_message = "Hello, " + $scope.name;
        }
        
        $scope.developers = [
              {
                name: "Jesus", country: "Spain"
              },
              {
                name: "Dave", country: "Canada"
              },
              {
                name: "Wesley", country: "USA"
              },
              {
                name: "Krzysztof", country: "Poland"
              }
            ];
    });
    
    app.directive('focus', function() {
        return {
            'link': function(scope, element, attrs) {
                element[0].focus();
            }
        };
    });
    
    app.directive('hello', function() {
        return {
            restrict: "E",
            replace: true,
            template: "<div>Hello readers, thank you for first template</div>"
        }
    });
    
    app.filter('capitalize', function() {
        return function(input, param) {
            if(input != undefined) {
                return input.substring(0,1).toUpperCase() + input.substring(1);
            }
        }
    });
    
    app.factory('u', function() {
        var user = {
            name: 'Angular.js'
        };
        
        return user;
    });
    
    app.controller('SecondCtrl', function($scope, u) {
        $scope.u = u;
    });
    </script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
    <span>Insert your name: </span>
    <input type="text" focus ng-model="user.name"/>
    <h3>Echo: {{ user.name | capitalize }}</h3>
    
    <div>
        Hello, {{ message }}
    </div>
    
    <div>
        Input something:
        <input type="text" ng-model="name" />
        <button ng-click="greet()">Click here!</button>
        <h3>{{ greet_message }}</h3>
    </div>
    
    <div>
        Search: <input ng-model="search" type="text" />
        <ul>
            <li ng-repeat="person in developers | orderBy:'name' | filter:search">
                {{ person.name }} from {{ person.country }}
            </li>
        </ul>
    </div>
    
    <div>
        <hello></hello>
    </div>
    
    <div>
        MainCtrl:
        <input type="text" ng-model="u.name">
    </div>
    <div ng-controller="SecondCtrl">
        SecondCtrl:
        <input type="text" ng-model="u.name">
    </div>
</body>
